<!-- /home/servicerecords.html.erb -->
    <div class="mg-vehicle-wrapper">

      <div class="grid-x  mg-vehicle-heading">
        <div class="large-7 medium-7 small-7 cell">
           <h2 class="mg-pageheading">Service Records</h2>
        </div>
        <div class="large-5 medium-5 small-5 cell  align-right">
         <ul class="menu simple  align-right">
          <li><a class="button info radius expand" href="/serviceitem">Add a Record </a></li>
          </ul>
        </div>
      </div>

      <div class="grid-x grid-margin-x grid-padding-x">
        <div class="large-12 medium-12 small-12 cell">
           <h5>2014 Mercedes ml350 - Blue</h5>
        </div>
      </div>

      <div class="row collapse ">
        <div class="grid-x">
          <div class="large-1 medium-1 small-1 cell">
            <div class="mg-left-img">
             <img class="thumbnail" src="https://placehold.it/50x70">
            </div>
          </div>
          <div class="large-10 medium-10 small-10 cell mg-vehicle-details">
            <h4 class="mg-blueyear">March 22, 2019 <span class="mg-vehicle-info">Service title: Rotate tires</span>  </h4>
            <ul class="menu simple">
              <li><a class="button radius" href="/serviceitem">View/Edit This Record</a></li>
              <li><a  class="button radius secondary" href="#">Delete This Record</a></li>
            </ul>
          </div>
          <div class="large-1 medium-1 small-1 cell">
            <div class="mg-rt-space-div">&nbsp;</div>
          </div>
        </div>
      </div>

      <div class="row collapse ">
        <div class="grid-x">
          <div class="large-1 medium-1 small-1 cell">
            <div class="mg-left-img">
             <img class="thumbnail" src="https://placehold.it/50x70">
            </div>
          </div>
          <div class="large-10 medium-10 small-10 cell mg-vehicle-details">
           <h4 class="mg-blueyear">Feb 20, 2019   <span class="mg-vehicle-info">Service title: Oil Change</span>  </h4>
            <ul class="menu simple">
              <li><a class="button radius" href="/serviceitem">View/Edit This  Record</a></li>
              <li><a  class="button radius secondary" href="#">Delete This Record</a></li>
            </ul>
        </div>
      </div>
      <div class="mg-rt-space-div">&nbsp;</div>

    </div>

