<!--  /home/serviceitem.html.erb -->
<div class="row medium-12 large-12 columns mg-service-wrapper">
  
  <div class="grid-x  mg-buttonrow mg-service-details">
    <div class="large-6 medium-6 small-6  cell">
      <ul class="menu simple align-left">
        <li  class=""><a class="button mg-button-wide info radius expand" href="/">Vehicles </a></li>
      </ul>
    </div>
    <div class="large-6 medium-6 small-6   cell">
      <ul class="menu simple align-right">
        <li class=""><a class="button info radius expand" href="/servicerecords">Service Records </a></li>
      </ul>
    </div>
  </div>
  <!--  close grid-x  -->
  
  <div class=" grid-x grid-padding-x mg-service-form">
    <div class="large-10 medium-10 small-12 columns">
      <div class="large-12 cell">
        <h3>2014 Mercedes ml350 - Blue</h3>
        <h4>Service Item For May 10, 2019 </h4>
        <p><span class="mg-service-date">Entry Date: 12 May 2019</span>  <span class="mg-service-date">Last updated: 14 May 2019</span></p>
      </div>
      
      <form>
        <div class="large-12 small-12 cell">
          <label>Name of Service
            <input type="text" placeholder="large-12.columns" />
          </label>
        </div>
        <div class="large-4 cell">
          <label>Date of Service
            <input type="text" placeholder="large-4.columns"   class="span2"  id="dp1" />
          </label>
        </div>
        <div class="large-4 cell">
          <label>Mileage
            <input type="text" placeholder="large-4.columns" />
          </label>
        </div>
        <div class="large-4 cell">
          <!--  <div class="row collapse"> -->
          <label>Aprox. Cost</label>
          <div class="small-9 columns">
            <input type="text" placeholder="small-9.columns" />
          </div>
          <!--  </div> -->
        </div>
        <div class="large-12 cell">
          <label>Comments
            <textarea placeholder="small-12.columns"></textarea>
          </label>
        </div>

        <div class="large-12 small-12 cell">
          <button href="#" class="button mg-button-wide radius expand postfix">Save</button>
        </div>
      </div>
      <!--  close columns -->
    </div>
    <!--  close grid-x  -->
    
  </form>
</div>
<!-- end wrapper