<!-- /home/servicerecords.html.erb -->
    <div class="row medium-12 large-12 columns mg-vehicle-wrapper">

      <h4>Service Records For</h4>
       <h5>2014 Mercedes ml350 - Blue</h5>

      <div class="grid-x grid-padding-x">
        <div class="large-3 medium-3 small-3 cell">
          <div class="primary callout">
           <img class="thumbnail" src="https://placehold.it/140x80">
          </div>
        </div>
        <div class="large-9 medium-9 small-9 cell mg-vehicle-details">
          <h4><span class="mg-blueyear">2015</span> Vehicle Make </h4>
          <p>Color and model</p>
            <ul class="menu simple">
              <li><a class="button radius" href="/serviceitem">View This Service Record</a></li>
              <li><a  class="button radius secondary" href="#">Delete This Record</a></li>
            </ul>
        </div>
      </div>

      <div class="grid-x grid-padding-x">
        <div class="large-3 medium-3 small-3 cell">
          <div class="primary callout">
           <img class="thumbnail" src="https://placehold.it/140x80">
          </div>
        </div>
        <div class="large-9 medium-9 small-9 cell mg-vehicle-details">
          <h4><span class="mg-blueyear">2015</span> Vehicle Make </h4>
          <p>Color and model</p>
            <ul class="menu simple">
              <li><a class="button radius" href="/serviceitem">View This Service Record</a></li>
              <li><a  class="button radius secondary" href="#">Delete This Record</a></li>
            </ul>
        </div>
      </div>

    </div>

