<!-- /home/servicerecords.html.erb -->
    <div class="row medium-12 large-12 columns mg-vehicle-wrapper">


    <div class="grid-x mg-vehicle-heading">
      <div class="large-7 medium-7 small-7 cell">
         <h2 class="mg-pageheading">Service Records</h2>
      </div>

      <div class="large-5 medium-5 small-5 cell  align-right">
       <ul class="menu simple  align-right">
        <li><a class="button info radius expand" href="/serviceitem">Add a Record </a></li>
        
          <!-- <li><button class="button info radius expand" href="/serviceitem">Add a Record </button></li> -->
          <!--  <a class="button radius" href="/serviceitem">View/Edit This Record</a>  -->
        </ul>
      </div>
    </div>

       <h5>2014 Mercedes ml350 - Blue</h5>

      <div class="grid-x grid-padding-x">
        <div class="large-3 medium-3 small-3 cell">
          <div class="primary callout">
           <img class="thumbnail" src="https://placehold.it/140x80">
          </div>
        </div>
        <div class="large-9 medium-9 small-9 cell mg-vehicle-details">
          <h4 class="mg-blueyear">March 22, 2019</h4>
          <p>Service title: Rotate tires</p>
            <ul class="menu simple">
              <li><a class="button radius" href="/serviceitem">View/Edit This Record</a></li>
              <li><a  class="button radius secondary" href="#">Delete This Record</a></li>
            </ul>
        </div>
      </div>

      <div class="grid-x grid-padding-x">
        <div class="large-3 medium-3 small-3 cell">
          <div class="primary callout">
           <img class="thumbnail" src="https://placehold.it/140x80">
          </div>
        </div>
        <div class="large-9 medium-9 small-9 cell mg-vehicle-details">
           <h4 class="mg-blueyear">Feb 20, 2019</h4>
          <p>Service title: Oil Change</p>
            <ul class="menu simple">
              <li><a class="button radius" href="/serviceitem">View/Edit This  Record</a></li>
              <li><a  class="button radius secondary" href="#">Delete This Record</a></li>
            </ul>
        </div>
      </div>

    </div>

