/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */


/*= require foundation */

/* foundation notes say this should be renamed applicaiton.scss but throwing errors 
Sass::SyntaxError in Devise::Sessions#new
*/
@import "foundation_and_overrides";


/* Add imports of custom sass/scss files here */


/*  added styles 20190523  */

/*
 *= require jquery-ui
 */ 
 /*
 *= require jquery-ui/datepicker
*/

 /*
 *= require foundation-datepicker
 */

 /*
  div { border-top: solid 0.5px red; }
 */

.menu.mg-topmenu .mg-topmenuli a { display: inline; padding: 0.7rem .3rem 0.7rem .3rem; }
div.mg-top-bar {   background-color:#99cccc;}
.mg-login-input label { margin-top: 0.1rem; margin-bottom: 0.1rem; display:block; line-height: 1.2rem;}
.mg-login-input-em { font-size: 0.72rem;}
.mg-sessionRegWrapper{display:flex; justify-content: flex-start; margin-top: 2.0rem;}
.mg-sessionReg {float:left; padding-right: .93rem;}
.mg-blueyear {color: #660055;}
.mg-vehicle-details a.button { padding: 0.7rem 0.6rem; margin-bottom: 0.4rem; }
.mg-vehicle-heading  { margin: 0.2rem 0.4rem 0.6rem 0.0rem;   }
.mg-vehicle-heading .mg-pageheading { font-size: 1.7rem;  line-height: 1.6rem; margin-top: 0.1rem;}
.mg-vehicle-heading  h2 { font-weight:strong;font-weight:900;  }
.mg-vehicle-heading a.button { padding: 0.9rem 1.6rem; margin: 0.2rem 0.4rem; font-size: 1.2rem; }
.mg-vehicle-info { font-size: 1.2rem;  font-weight:normal; font-weight:300;  }
a.button.radius,
.button.radius {border-radius: 0.4rem; }
.mg-introtext,
.mg-jumbo .column.text-center { padding-right:0.1em; padding-left:0.1em; }
.mg-jumbo .subheader { padding-right:0.1em; color: #eeeeee;}
.mg-jumbo .alert {  text-align: center; color: #eeeeee;}
.mg-jumbo .notice { text-align: center; color: #eeeeee;}
.callout.large.mg-jumbo { padding-top: .2rem; padding-right: 1rem; padding-bottom: 1rem; padding-left: 1rem; }
.callout.large { padding-top: 3rem;  padding-right: 3rem; padding-bottom: 3rem; padding-left: 3rem; }
.callout.primary.mg-jumbo {     background-color: #000000; background-repeat: no-repeat; background-position : 54% 40%; }
.mg-vehicle-item {margin-bottom: 0.9rem;}
.mg-vehicle-item .mg-vehicle-details { padding-right: 0; padding-left: 0.25rem;}
.mg-vehicle-details .menu.simple li + li { margin-left: 0.3rem; }

.mg-vehicle-wrapper,
.mg-service-wrapper { padding: 0 0.6rem; }

.mg-vehicle-wrapper .mg-vehicle-details { padding-right: 0; padding-left: 0.25rem; margin-bottom: 0.5rem;}
.mg-vehicle-wrapper .reveal.mg-vehiclemodal { top: 10px; }
.mg-service-wrapper .mg-buttonrow a.button { padding: 0.6rem 0.6rem; }

.mg-vehicle-wrapper .mg-buttonrow a.button,
.mg-service-wrapper .mg-buttonrow a.button { padding: 0.6rem 0.6rem; }

.mg-vehicle-wrapper .mg-buttonrow button.button ,
.mg-service-wrapper .mg-buttonrow button.button { padding: 0.7rem 1rem}
.mg-jumbo .mg-toptext .cell  p,
.mg-toptext .subheader { margin-bottom: .2rem;}
.mg-toptext p.mg-introtext { margin : 0.84rem 0 0 0; margin-top: 0.84rem;  }
.mg-toptext p { margin : 0.4rem 0 0 0; margin-top: 0.4rem; margin-bottom: .1rem;}
.mg-toptext p.mg-introtextbottom { margin : 0; margin-top: 7.6rem;  text-align:center; color:#eeeeee; font-size:1.3rem;line-height:1.3;}
.mg-toptext p { margin : 0.4rem 0 0 0; margin-top: 0.4rem; margin-bottom: .1rem;}
.mg-microtext{font-size:1px; line-height: 1px; color:black;  font-size:0.0rem; line-height: 0.0rem; color:transparent; }
.actions.mg-loginbutton input { padding: 0.4rem 0.9rem  0.5rem 0.9rem ; border-radius: 0.4em; background-color: #1779ba; color: #ffffff;}


.mg-toptext .h4, .mg-toptext h4{font-size:1.5rem;line-height:1.2;}
.grid-padding-x.mg-toptext .cell {padding-left: 0.1rem; padding-right: 0.1rem; }

/*  this is 1024 px and smaller */
@media print, screen and (min-width: 64em) {

 /*
   div { border-top: solid 1px green!important; }
 */

  .mg-vehicle-item div.hide-for-small-only {display:inline-block!important;}
  .mg-toptext .h4, .mg-toptext  h4{font-size:1.5rem;line-height:1.3rem;}
  .mg-yieldcontent .mg-vehicle-wrapper,
  .mg-yieldcontent .mg-service-wrapper { padding: 0 2.6rem; }
}

/*  this is 639px and smaller */

@media print, screen and (min-width: 40em) {

 /*
  div { border-top: solid 1px purple; }
 */

  .mg-vehicle-item div.hide-for-small-only {display:none!important;}
  .mg-toptext .h4, .mg-toptext  h4{font-size:1.8rem;line-height:2.6rem;}

  .mg-vehicle-wrapper,
  .mg-service-wrapper { padding: 0 0.6rem; }
}









